.DS_Store
.Snakefile.swp
.snakemake/
*/.ipynb/
benchmarks/
outputs/
notebooks/.ipynb_checkpoints/
inputs/20230227_tax_list_full.RDS
inputs/genbank/
sandbox/
tmp_mmseqs2/
tmp/
.Rhistory
inputs/nr_cluster_taxid_formatted_final.sqlite
inputs/nr_cluster_taxid_formatted_final.tsv
inputs/nr_rep_seq.fasta.gz
inputs/kofamscandb
inputs/eggnog_db/
inputs/hmms/
inputs/candidate_fungi_for_bio_test_data_set_small.tsv
inputs/microplitis.tsv
inputs/spomb_pos_control.tsv
inputs/spomb_pos_control_annot.csv
inputs/venoms.tsv
inputs/kofamscan/
inputs/make_metadata.R
inputs/20230630_genbank_assembly_summaries.tsv.gz
inputs/20230630_genbank_genomes.tsv.gz
.nextflow.log*
.nextflow/
out_test/
out_full/
work/
