/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run taylorreiter/2023-rehgt-nextflow -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Minimal test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    // TODO: Update the defaults for test processes
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = "https://raw.githubusercontent.com/Arcadia-Science/test-datasets/main/rehgt/bigelowiella_test.tsv"
    blast_db = "https://github.com/Arcadia-Science/test-datasets/raw/main/rehgt/bigelowiella_test_nr.fasta.gz"
    blast_db_tax = "https://github.com/Arcadia-Science/test-datasets/raw/main/rehgt/bigelowiella_test_lca.sqlite"
    eggnog_db = "https://github.com/Arcadia-Science/test-datasets/raw/main/rehgt/eggnog.db"
    eggnog_dmnd = "https://github.com/Arcadia-Science/test-datasets/raw/main/rehgt/eggnog_proteins.dmnd"
    hmm_db = "https://raw.githubusercontent.com/Arcadia-Science/test-datasets/main/rehgt/VOG00001.hmm"

}
